@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 1px 0;
  border-bottom: 1px solid rgb(172, 172, 172);
}

.center {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: white;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
}

.nav a {
  color: #103652;
  padding: 0 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

a:hover {
  color: #33aaff;
}

.counteudo {
  width: 100%;
  margin: 60px 0;
  text-align: center;
}

.counteudo h2 {
  color: #16507b;
  font-size: 40px;
}

.counteudo p {
  color: gray;
  font-size: 19px;
  margin: 10px 0;
}

.valores {
  display: flex;
}

.valoresitem {
  border-radius: 10px;
  background-color: #124265;
  width: 23%;
  margin-right: 2%;
  padding: 50px 20px;
  box-shadow: 5px 5px 10px #0000009d;
}

.valoresitem i {
  color: whitesmoke;
  font-size: 23px;
}

.valoresitem p {
  color: white;
  font-size: 14px;
  line-height: 30px;
}

section#sobre {
  padding: 60px 0;
}

.titulo {
  width: 100%;
  text-align: center;
  padding: 1em;
}

.titulo h2 {
  color: #124265;
}

.titulo p {
  font-size: 16px;
  color: gray;
  margin: 10px 0;
}

.outroconteudo {
  display: flex;
}

.outroconteudo p {
  margin: 0 20px;
}

.missao {
  margin: 0 20px;
  display: flex;
  color: white;
  background-color: #124265;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  box-shadow: 5px 5px 10px #00000096;
}

.pai {
  margin-top: 50px;
  display: flex;
}

.pai img {
  margin: 0 20px;
  border-radius: 1000px;
  box-shadow: 5px 5px 10px #000000c9;
}

#contato{
  display: flex;
  align-items: center;
}

footer {
  background-image: linear-gradient(to right, #d8d8d8, #b7b6cb, #9296be, #6878b2, #2d5da6);
  display: flex;
}

footer p{
  float: left;
  font-size: 18px;
  word-spacing: 2px;
  text-transform: capitalize;
}
footer p a{
 color:#0400fc;
 font-size: 18px;
 text-decoration: none;
}